*{
    margin: 0;
    font-family: 'Karla';
}

a{
    text-decoration: none;
}

/*---------------------------------[ Header ]---------------------------------*/

#nav-bar{
    padding: 3vw;
    display: grid;
    grid-template-columns: 25% 15% 15% 15% 15% 15%;
    place-items: center;
}

#nav-bar > li{
    list-style: none;
    padding: 8px 0 8px 0;
}

.site-name > a{
    font-family: 'Contrail One';
    color: #777777 !important;
    font-size: 32px !important;
}

#nav-bar > li a{
    font-size: 21px;
    color: black;
}

#active-page{
    border-bottom: 8px solid #848484;
}

/*---------------------------------[ Landing page ]---------------------------------*/

.landing-page{
    height: 85vh;
    margin: 0;
    z-index: 10;
    box-shadow: 0px 4px 24px -3px rgba(0, 0, 0, 0.18);
}

.image-carousel{
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.image-carousel ul{
    list-style: none;
    display: flex;
    padding: 0;
}
.image-carousel li{
    margin: 0 5px;
}
.image-carousel img{
    max-width: 100%;
}
.image-carousel > ul > li:nth-child(3){
    scale: 1.1;
    margin: 0 15px;
}
.image-carousel > ul > li:nth-child(3) > img{
    border-radius: 5px;
}

.carousel-selectors{
    display: inline-block;
    margin: 70px 0;
    width: 100vw
}

.carousel-selectors > ul{
    display: grid;
    place-items: center;
    padding: 0;
    grid-template-columns: 45% 2% 2% 2% 2% 2% 45%;
    outline: 1px red;
    list-style-type: none;
}

.carousel-selectors > ul > li:nth-child(1){
    grid-column-start: 2;
}
.carousel-selectors > ul > li:nth-child(2){
    grid-column-start: 3;
}
.carousel-selectors > ul > li:nth-child(3){
    grid-column-start: 4;
}
.carousel-selectors > ul > li:nth-child(4){
    grid-column-start: 5;
}
.carousel-selectors > ul > li:nth-child(5){
    grid-column-start: 6;
}

.carousel-selectors img{
    opacity: 0.5;
}
.carousel-selectors li:nth-child(3) img{
    opacity: 1;
}

/*---------------------------------[ Allotment Locator ]---------------------------------*/

.find-allotments{
    display: flex;
    justify-content: center;
}

.find-allotments-button{
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #79AC22;
    padding: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.01em;
    font-size: 23px;
}

#allotment-map-section{
    height: 65vh;
    background-image: url('Assets/green%20blurred%20background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15vh;
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

.location-selector{
    grid-column-start: 3;
    background-color: white;
    border-radius: 27px;
    font-size: 21px;
    color: #777777;
    padding: 3rem;
    height: 65%;
}

/*---------------------------------[ Guides for Growing ]---------------------------------*/

.select-yeild-or-guides{
    display: grid;
    grid-template-columns: 25% 20% 10% 20% 25%;
    height: 75vh;
    place-items: center;
}

.yeild-or-guides-button{
    background-color: #79AC22;
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: grid;
    place-items: center;
    height: 60%;
    width: 100%;
}

.select-yeild-or-guides > a:nth-child(1){
    grid-column-start: 2;
}
.select-yeild-or-guides > a:nth-child(2){
    grid-column-start: 4;
}

/*---------------------------------[ About Us page ]---------------------------------*/

.about-us-intro{
    height: 65vh;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.about-us-intro h1{
    width: 100%;
    font-weight: 700;
    font-size:calc(12px + 3.5vw);
    text-align: center;

    text-shadow: 0px 4px 4px
        rgba(0, 0, 0, 0.25);
}

.about-us-intro p{
    padding: 5vh 6vw;
    font-weight: 700;
    font-size:calc(8px + 1.2vw);
    text-align: center;
}

.about-us-info{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us-background{
    
    background-image: url('Assets/about-us-background.jpg');
    
    background-repeat: no-repeat;
    background-size:cover;
}

.about-us-info::after {    
    
    content: "";
    background-image: url('Assets/about-us-background.jpg');
    background-size: cover;
    position:absolute;
    width: 100%;
    height: 85%;
    opacity: 60%;
    filter: blur(2px);
}

#about-us-info-container{
    height: 60%;
    opacity: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4vh 3vh;
}

#about-us-info-container div{
    z-index: 1;
    width: 44%;
    background: rgba(59, 162, 57, 0.6);
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 110%;
    
}

#about-us-info-container div p{
    overflow: hidden;
    margin: 0 6vw 0 4vw;
    font-weight: 700;
    font-size: calc(8px + 1vw);
    text-align: center;
    
}

#about-us-info-container figure{
    z-index: 1;
    min-height: 110%;
    width: 29%;
    display: flex;
    align-items: center;
}

#about-us-info-container figure img{
    height: calc(40px + 16vw);
    position: relative;
    left: -4vw;
}